.flex-1{
  flex: 1;
}

.flex-sm-1{
  @include mobile{
    flex: 1;
  }
}

.flex-md-1{
  @include pad{
    flex: 1;
  }
}

.flex-lg-1{
  @include laptop{
    flex: 1;
  }
}

.flex-xl-1{
  @include laptop-xl{
    flex: 1;
  }
}

.flex-xxl-1{
  @include laptop-xxl{
    flex: 1;
  }
}