.fs-xxl {
  font-size: 30px !important;
}

.fs-xl {
  font-size: 26px !important;
}

.fs-lg {
  font-size: 22px !important;
}

.fs-md {
  font-size: 16px !important;
}

.fs-sm {
  font-size: 14px !important;
}

.fs-xs {
  font-size: 12px !important;
}

// .text-truncate-2 {
//   @include hide-paragraph(2);
//   max-height: unquote(200 + "%");
// }

// .text-truncate-3 {
//   @include hide-paragraph(3);
//   max-height: unquote(300 + "%");
// }
