body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  color: #222222;
}

a {
  color: #222222;
  text-decoration: none;
  &:hover{
    color: initial;
    text-decoration: underline
  }
}

button {
  cursor: pointer;
}