.cz_fixed_bar{
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}